.App {
  text-align: center;
 

}

.App-logo {
  height: 40vmin;
  
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  background-color: #09d3ac;
}

nav {
  background-color: #282c34;
  /* min-height: 75px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
padding: 20px;
  width: 300px;
  margin-left:40%;
  /* margin-left: 750px; */
  background: lightgoldenrodyellow;
}

input{
  margin: 10px;
  border-radius: 5px;
  outline: none;
}

ul{
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

h1{
  margin-left: 25px;
}

a{
  /* text-decoration: none; */
  color: White;
  padding: 10px;
  size: 15px;;
}

.dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
padding: 20px;
  width: 400px;
  margin-left: 800px;
  /* background: white; */

}